.pizza{
    text-align: center;
    color: aqua;
    background-color: black;
}
.info{
    text-align: center;
    color: rgb(20, 220, 187);
    background-image:url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    
}
#bounce {
    animation: bounce 1s infinite;
    background-color: black;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-55px);
    }

    60% {
        transform: translateY(-45px);
    }
}
.varieties{
    text-align: center;
    margin-left: -20vh;
}
.order{
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1607018244619-dab6235709dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEwfHxwaXp6YXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    height: 70vh;
    width: 300vh;
    color: lightskyblue;
    margin-left:-70vh;
    margin-right:-95vh ;
}
.paragraph{
    color: rgb(218, 104, 218);
    text-align:center;
}
.button{
    text-align: center;
    color: rgb(156, 2, 61);
    background-image: url(https://images.unsplash.com/photo-1563683640683-74f1723873d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTMwfHxwaXp6YXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    width: -95vh;
    margin-left: -5vh;
    margin: right -25vh;
    height: 55vh;
}
